# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Hugging Face
.cache/
huggingface/
*.token

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
tmp/
temp/
